/** @format */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(67, 70, 122);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 100px;
  padding: 2rem 0px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(16, 14, 22);
}

.header h1 {
  color: green;
}

.header p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.item {
  width: 48vw;
  height: 90px;
  color: #fff;
  font-size: 22px;
  margin: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border: 1px solid rgb(43, 42, 42);
  border-radius: 10px;
}

.item:hover {
  color: rgb(30, 30, 31);
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 2px 5px 2px rgb(12, 12, 12);
}

@media (max-width: 600px) {
  .item {
    width: 100vw;
    height: 50px;
    font-size: 18px;
    border: 2px solid rgb(43, 42, 42);
  }

  .header h1 {
    margin-top: 20px;
    font-size: 25px;
  }
}
